@import "tailwindcss";

body {
    background-color: #131313;
    color: #ffffff;
}

@font-face {
    font-family: 'Bachelor Regular';
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/BachelorRegular.ttf");
}

@theme {
    --font-bachelor-regular: Bachelor Regular, 'sans-serif';

    --color-primary: #131313;
    --color-secondary: #B4222A;
}